### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file)

## Player Count

* Display the total number of players

In [2]:
# Display the total number of players
purchase_data_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [18]:
grouped_purchase_data_df = purchase_data_df.groupby('SN')
total_players = len(grouped_purchase_data_df)
Total_Players_df = pd.DataFrame({"Total Players": [total_players]})
Total_Players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Create variables to store calculations of # unique items, average price, # of purchases, and total revenue
unique_items = len(purchase_data_df['Item Name'].unique())
average_price = (purchase_data_df['Price'].sum())/(len(purchase_data_df['Price']))
number_of_purchases = len(purchase_data_df['Purchase ID'])
total_revenue = purchase_data_df['Price'].sum()

# Create a dataframe to display the calculations that we stored in our variables

purchasing_analysis_df = pd.DataFrame({
                                    "Number of Unique Items": [unique_items],
                                    "Average Price": [average_price],
                                    "Number of Purchases": [number_of_purchases],
                                    "Total Revenue": [total_revenue]
                                  })

# Use mapping to format the price and revenue columns as dollar amounts
purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].map("${:.2f}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("${:.2f}".format)

purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [19]:
# Group data by gender to figure out totals for each gender

gender_group_df = purchase_data_df.groupby('Gender')

# Use df grouped by gender to count the number of unique player names in the SN column

gender_count = gender_group_df["SN"].nunique()


# Using the count of unique values per gender that we found above, divide by total players and multiply by 100 to get percentage

gender_percentage = (gender_count / total_players) * 100


# Create dataframe to display the total count and percentage of players per gender

gender_demographics_df = pd.DataFrame({"Total Count": gender_count,
                                           "Percentage of Players": gender_percentage})

# Use mapping to format the price and revenue columns as dollar amounts
gender_demographics_df["Percentage of Players"] = gender_demographics_df["Percentage of Players"].map("{:.2f}%".format)

# Sort the dataframe in descending order based on the values in the columns

final_gender_demographics_df = gender_demographics_df.sort_values(by = ['Total Count'], ascending = False)

final_gender_demographics_df

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [20]:
# Create variables to store the purhcase count, average purchase price, total purchase value, and average purchase total per person grouped by gender.

purchase_count = gender_group_df['Purchase ID'].count()
avg_purchase_price = gender_group_df['Price'].mean()
total_purchase_value = gender_group_df['Price'].sum()
avg_purchase_person_gender = total_purchase_value / gender_count

# Create a dataframe to display our variables

gender_analysis_df = pd.DataFrame({"Purchase Count": purchase_count,
                                   "Average Purchase Price": avg_purchase_price,
                                   "Total Purchase Value": total_purchase_value,
                                   "Avg Total Purchase per Person": avg_purchase_person_gender})

# Use mapping to format Average purchase price, total purchase value, and avg total purchase per person as dollar amounts.

gender_analysis_df["Average Purchase Price"] = gender_analysis_df["Average Purchase Price"].map("${:.2f}".format)
gender_analysis_df["Total Purchase Value"] = gender_analysis_df["Total Purchase Value"].map("${:.2f}".format)
gender_analysis_df["Avg Total Purchase per Person"] = gender_analysis_df["Avg Total Purchase per Person"].map("${:.2f}".format)

gender_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [27]:
# Create the bins for ages

bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 50]

# Create names for bins

bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"] 

# add bins to original dataframe

unique_users_df = purchase_data_df.loc[:, ["SN", "Age", "Gender"]]
unique_users_df = unique_users_df.drop_duplicates()

unique_users_df["Age Range"] = pd.cut(unique_users_df["Age"], bins, labels = bin_names)

# Calculate the total number and the percentage of players that fall within each bin

total_count = unique_users_df["Age Range"].value_counts()
percentage_players = (total_count / total_players) * 100

# Create new df to display total count and percentage of players per age bin

age_demographics_df = pd.DataFrame({'Total Count:': total_count,
                        'Percentage of Players': percentage_players})

# Use mapping to format the percentage of players column as a percent

age_demographics_df["Percentage of Players"] = age_demographics_df["Percentage of Players"].map("{:.2f}%".format)

# Use sort index to display the dataframe from bin with smallest age values to highest

age_demographics_df.sort_index()

       Total Count: Percentage of Players
<10              17                 2.95%
10-14            22                 3.82%
15-19           107                18.58%
20-24           258                44.79%
25-29            77                13.37%
30-34            52                 9.03%
35-39            31                 5.38%
40+              12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame